body {
    font-family: cursive;
    background-color: gray;
    text-align: center;
    text-decoration: none;
}

.readme-wrapper {
    text-decoration: none;
    color: goldenrod;

    
}

.readme-wrapper :hover {
    font-size: bold;
}
.box-1, .box-2, .box-3, .box-4 {
    display: inline-block;
    margin: 2em 1em 2em 1em;
    padding: 1em 1em 1em 1em;
    border: 1px solid black;
    border-radius: 5px;
}
