body {
    font-family: cursive;
    background-color: gray;
    text-align: center;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: goldenrod;

    
}
#box1, #box2, #box3, #box4{
    text-align: center;
}

a:hover {
    font-weight: bold;
    color: green;
    cursor: pointer;
}

.relative {
    left: 300px;
    top: 1em;
}
.boxes {
    display: block;
    margin: 2em 1em 2em 1em;
    padding: 1em 1em 1em 1em;
    border: 1px solid black;
    border-radius: 20%;
   
    width: 20%;
}
#box1 {
    background-color: lightcoral;
}
#box2 {
    background-color: lightseagreen;
}
#box3 {
    background-color: lightskyblue;
}
#box4 {
    background-color: lightyellow;
}